@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Courier New", "Courier", sans-serif;
  background-image: linear-gradient(to top right, #43389f 0%, #4ec6ca 100%);
  border-radius: 20px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.num {
  position: relative;
  height: 100px;
  width: 200px;
}

.one01 {
  z-index: 0;
  transform: rotate(-40deg);
  position: absolute;
  width: 41px;
  height: 20px;
  top: 10px;
  left: -27px;
  border-radius: 5px;
  background-color: white;
}

.one02 {
  position: absolute;
  z-index: 4;
  height: 97px;
  border-radius: 3px;
  width: 23px;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 30%);
}

.zero2,
.zero1 {
  position: absolute;
  z-index: 3;
  box-sizing: border-box;
  box-shadow: 0px 0px 14px 0px rgb(0 0 0 / 30%);
  width: 100px;
  height: 100px;
  top: 0px;
  border: 24px solid #fff;
  left: 18px;
  border-radius: 50px;
  /* background-color: white; */
}

.zero2 {
  z-index: 2;
  left: 100px;
}

.text-big {
  color: transparent;
  display: block;
  font-size: 90px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;

 /* <colocando o texto em gradiente> */
  background-image: linear-gradient(to top right, #00ff2a 0%, #eeff00 100%);
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
/* </> */
}

.text-small {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
}
